@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
/* Хедер */
.menu_mobile{
  display: none;

}
.close{
  display: block;
  position: relative;
  transform: translateY(3px);
  
}
.menu_mobile span{
  transition: all .4s;
}
.close span:nth-child(3){
  opacity: 0;
}
.close span:nth-child(2){
  transform: rotate(-45deg);
  bottom: 0;

}
.close span:nth-child(1){
  position: absolute;
  left: 0;
  transform: rotate(45deg);
  width: 100%;
  /* bottom: 0; */
}
.hiden{
  overflow: hidden;
}
header {
  max-width: 100rem;
  margin: 0 auto;
  gap: .625rem;
}
.flex-left{
  display: flex;justify-content: flex-end;
}
.container_header {
  padding-top: .3125rem;
  padding-bottom: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_logo {
  width: 100px;
  height: 100px;
  background-image: url("../img/logo_obuv.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container_menu {
  width: calc(100% - 19.375rem);
  display: flex;
  justify-content: flex-end;
}
.menu {
  margin-right: 3.75rem;
  display: flex;
  gap: 30px;
}
.menu .active a {
  color: #f25862;
}
.menu a {
  cursor: pointer;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #444;
  transition: all 0.4s;
}
.menu a:hover {
  color: #f25862;
}
.card img{
  width: 1.375rem;
}
.card{
  position: relative;
  padding: 2px;
  transition: all .4s;
  border-radius: 50%;
}
.card:hover{
  
  background-color: #f25862;
} 
.card span{
  position: absolute;
  font-size: .875rem;
  background-color: #616161;
  border-radius: 50%;
  color: white;
  padding: .125rem;
  top: -0.5rem;
  left: .9375rem;
}

.breadcrumb ol {
  display: flex;
  list-style-type: none;
}
.breadcrumb a::after {
  content: ">";
  margin: .3125rem;
  color: #999999;
}
.breadcrumb a {
  font-size: .75rem;
  font-family: "Open Sans";
  color: #999999;
}
.breadcrumb a:hover {
  color: #f25862;
}
.breadcrumb li {
  color: #999999;
}


/* Контент */



.content {
  margin-top: 1.25rem;
  display: flex;
  gap: .625rem;
  margin-bottom: 5rem;
}
.sidebar {
  width: 16.875rem;
}
.content_left {
  width: 100%;
}
aside h3 {
  margin-top: .625rem;
  margin-bottom: 1.25rem;
}
aside h3 span {
  color: #0f0f0f;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.35;
}
aside li {
  margin: 10px 10px;
}
aside li a {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  color: #0f0f0f;
  transition: all 0.4s;
  font-size: 1rem;
}
aside li a:hover {
  color: #f25862;
}
aside li span {
  color: #6a6a6a;
}
.content_left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.cart {
  cursor: pointer;
  padding: .3125rem;
  padding-bottom: 1.25rem;
  width: 100%;
  transition: all 0.2s;
}
.cart:hover {
  box-shadow: .0625rem .0625rem .9375rem #6a6a6a;
}

.cart_photo {
  overflow: hidden;
}
.cart_photo img {
  width: 100%;
  transition: all 0.4s;
}
.cart:hover img {
  scale: 1.1;
}
.cart-title {
  font-family: Montserrat;
  font-size: 1rem;
  color: #0f0f0f;
  transition: all 0.4s;
  text-align: center;
}
.cart-title:hover {
  color: #f25862;
}
.cart_footer .price {
  font-family: Montserrat;
  font-size: 1rem;
  color: #f25862;
  margin-left: 1.25rem;
}
.cart_footer strike {
  color: #999999;
  margin-right: .625rem;
}
/* Футер */
footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #141414;
}
.footer_container {
  font-family: Montserrat;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
.footer_container h2 {
  color: white;
  font-family: Montserrat;
  font-size: 22px;
}
.footer_container p {
  color: white;
  font-family: Montserrat;
  font-size: 18px;
}
.footer_container ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_container li {
  border: .0625rem solid white;
  padding: 10px 15px;
  transition: all 0.4s;
}
.footer_container li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: white;

  transition: all 0.4s;
}
.footer_container li:hover {
  background-color: white;
}
.footer_container li:hover a {
  color: black;
}

.first_block .logo {
  background-image: url('../img/logo_obuv.svg');
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-bottom: 20px;
}

.up_to_header {
  position: fixed;
  background-color: #141414;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 22.4px;
  display: flex;
  justify-content: center;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
  opacity: 0;
}
/* Общие стили */

@media (max-width:1150px) {
  .content_left{
    grid-template-columns: repeat(3 , 1fr);
  }
  .footer_container{
    grid-template-columns: repeat(2 , 1fr);
  }
  .third_block{
    margin-top: 40px;
  }
  .quarter_block{
    margin-top: 40px;
  }
}
@media (max-width:900px) {
  .container_menu{
    position: fixed;
    height: calc(100vh - 100px);
    width: 100%;
    top: 100px;
    left: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    transition: all .4s;
    overflow: hidden;
  }
  .visibal_menu{
    left: 0;
  }
  .menu{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .content_left{
    grid-template-columns: repeat(2 , 1fr);
  }
  .flex-left{
    align-items: center;
  }
  .menu_mobile{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.375rem;
    height: .875rem;
    margin-right: 1.25rem;
  }
  .menu_mobile span{
    display: block;
    width: 100%;
    height: .125rem;
    background-color: #0f0f0f;
  }
  .container_header{
    padding-bottom: 0;
  }
}
@media (max-width:768px) {
  .content_left{
    grid-template-columns: 1fr;
  }
  .content{
    display: flex;
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
  }
  aside h3{
    text-align: center;
  }
}
@media (max-width:640px) {
  .footer_container{
    grid-template-columns: 1fr;
  }
  .footer_container .logo{
    margin: 0 auto;
  }
}